<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Optional JScript -->
    <!-- JQuery first, then Popper.js and then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <title>Table</title>
  </head>
  <body>
    <h1 style="text-align:center; background-color:rgb(0,255,255)">Saints Robotics Roster</h1>
    <form class="" action="/studentList" method="post">
      <div style="text-align:center">
        <table class="table table-xl table-bordered table-striped" style="text-align:center">
          <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Student ID</th>
            <th>Delete?</th>
            <th>Edit</th>
          </thead>
          <tbody>
            <tr>
              <td>Anjali</td>
              <td>Shukla</td>
              <td>123459</td>
              <td><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              <td><a href="#" class="btn btn-primary"><i class="fa fa-edit"></i></a></td>
            </tr>
            <tr>
              <td>Sangeetha</td>
              <td>Sharma</td>
              <td>134678</td>
              <td><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              <td><a href="#" class="btn btn-primary"><i class="fa fa-edit"></i></a></td>
            </tr>
            <tr>
              <td>Rohini</td>
              <td>Ganguly</td>
              <td>189898</td>
              <td><a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
              <td><a href="#" class="btn btn-primary"><i class="fa fa-edit"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="form-row">
        <div class="form-row col-6">
          <button class="button-center form-control" type="button" name="signUp">Sign Up</button>
        </div>
        <div class="form-row col-6">
          <button class="form-control" type="button" name="signIn">Sign In</button>
        </div>
      </div>
    </form>
  </body>
</html>
